.oos-container {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-default);
  color: var(--text-default);
  text-align: center;
}

.content {
  max-width: 400px;
  padding: 0 10px 24px 10px;
  border-radius: 16px;
  background-color: var(--mat-background-card-color, white);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  border: 1px solid var(--table-border-color);

  .icon {
    transform: scale(3);
    padding-top: 24px;
    height: 40px;
    width: 40px;
  }

  h1 { margin-bottom: 16px; }

  p { opacity: 0.7; margin-bottom: 8px; }

  .sub-text { font-size: 0.9rem; margin-bottom: 30px; }

  .spinner-wrapper {
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.pulse-dot {
  width: 12px;
  height: 12px;
  background-color: var(--badge-fail-text);
  border-radius: 50%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(0.95); opacity: 0.7; }
  50% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(0.95); opacity: 0.7; }
}
